.header {
  @extend .block;
  text-align: center;

  &__container {
    @extend .block__container;
  }

  &__holder {
    @extend .block__holder;
  }

  h1 {
    padding-top: 40px;
    margin: 0 10% 36px 10%;
    @media screen and (max-width: $break-handheld-small) {
      font-size: 36px;
      line-height: 36px;
      margin: 0 10% 24px 10%;
    }
    @media screen and (max-width: $break-handheld-very-small) {
      font-size: 28px;
      line-height: 28px;
      margin: 0 10% 20px 10%;
    }
  }

  h4 {
    margin: 0 20% 20px 20%;
    @media screen and (max-width: $break-handheld-small) {
      font-size: 18px;
      line-height: 18px;
      margin: 0 10% 20px 10%;
    }
    @media screen and (max-width: $break-handheld-very-small) {
      font-size: 16px;
      line-height: 16px;
      margin: 0 10% 18px 10%;
    }
  }

  p {
    margin: 0 20% 10px 20%;
    @media screen and (max-width: $break-handheld) {
      margin: 0 10% 10px 10%;
    }
  }

}
