.search {
  @extend .block;

  &__container {
    @extend .block__container;
  }

  &__holder {
    @extend .block__holder;

    text-align: center;

    input[type=text] {
      border-radius: 6px;
      width: 300px;
      height: 32px;
      padding: 0 12px 0 12px;
      box-sizing: border-box;
      font-size: 14px;
      margin: 0 auto 24px auto;
      border: 1px solid $grey;
      &::placeholder {
        color: $grey;
      }
      @media screen and (max-width: $break-handheld-small) {
        width: 80%;
      }
    }

  }

  &__terms {
    margin: 0 auto;
  }

  &__term {
    position: relative;
    background-color: $dark_brown;
    padding: 10px 14px 10px 10px;
    margin: 10px;
    display: inline-block;
    color: $white;
  }

  &__term-close {
    position: absolute;
    color: $white;
    font-size: 9px;
    line-height: 9px;
    top: 2px;
    right: 5px;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $grey;
    }
  }

}
